<app-nav></app-nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">

            <h1 class="display-1">Login</h1>

            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

                <div class="mb-3">
                    <input id="username" placeholder="Username" type="text" formControlName="username" class="form-control" required>
                </div>

                <div class="input-group mb-3">
                    <input id="password" placeholder="Password" [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control" required>
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa show-hide-password" [ngClass]="{'fa-eye-slash': !showPassword, 'fa-eye': showPassword}" (click)="passwordShowHide()"></i>
                        </span>
                    </div>
                </div>

                <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid || disableLoginButton">
                    <span *ngIf="disableLoginButton" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Login
                </button>

            </form>
        </div>
    </div>
</div>
