<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Movie App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
        </li>
      </ul>
        <div *ngIf="loggedInUser">
            <span>{{loggedInUser.username}}</span>
            <a class="navbar-text text-decoration-none" href="#" (click)="logout()">Logout</a>
        </div>
        <a class="navbar-text text-decoration-none" href="/login" *ngIf="!loggedInUser">Login</a>
    </div>
  </div>
</nav>